<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="row d-flex justify-content-between mb-4">
    <h1 class="h3 mb-2 text-gray-800 col">Card List</h1>
    <div class="col d-flex justify-content-end">
      <a href="card/add" class="btn btn-success btn-icon-split">
        <span class="icon text-white-50">
          <i class="fas fa-plus"></i>
        </span>
        <span class="text">Add</span>
      </a>
    </div>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Card List</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="table-card" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th style="width: 10%">ID</th>
              <th style="width: 10%">SetID</th>
              <th style="width: 20%">Name</th>
              <th style="width: 20%">Update At</th>
              <th style="width: 10%">Price</th>
              <th style="width: 10%">Amount</th>
              <th style="width: 10%">State</th>
              <th style="width: 10%">Action</th>
            </tr>
          </thead>
          <!-- <tfoot>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Subtypes</th>
              <th>SetID</th>
              <th>Price</th>
              <th>Amount</th>
            </tr>
          </tfoot> -->
          <tbody>
            <% products.forEach((card) => { %>
            <tr>
              <td><%= card.id %></td>
              <td><%= card.setId %></td>
              <td><%= card.name %></td>
              <td><%= card.formatedDate %></td>
              <td><%= card.marketPrices %></td>
              <td><%= card.amount %></td>
              <td>
                <div class="badge <%= card.isActive ? 'badge-success' : 'badge-danger' %> border custom-card-badge">
                  <%= card.isActive ? 'Active' : 'Disabled' %>
                </div>
              </td>
              <td>
                <div class="d-flex justify-content-center align-items-center">
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Action
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/admin/card/edit/<%= card.id %>">Edit</a>
                      <a class="dropdown-item" href="#">Export</a>
                       <% if (card.isActive) { %>
                      <a class="dropdown-item" href="#" onclick="toggleCardStatus('<%= card.id %>', false)">Disable</a>
                      <% } else { %>
                      <a class="dropdown-item" href="#" onclick="toggleCardStatus('<%= card.id %>', true)">Enable</a>
                      <% } %>
                      <a class="dropdown-item" href="#" onclick="deleteCard('<%= card.id %>')">Delete</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->